training_dbt:
  outputs:
    dev:
      catalog: training_dbt
      host: adb-1149589327075054.14.azuredatabricks.net
      http_path: /sql/1.0/warehouses/your_warehouse_id
      schema: your_name
      threads: 1
      token: your_token
      type: databricks
  target: dev