ifco_digital_training_dwh:
  target: ENVIRONMENT
  outputs:
    ENVIRONMENT:
      type: databricks
      schema: layer
      host: PUT YOUR HOST
      http_path: PUT YOUR PATH
      token: PUT YOUR TOKEN
      threads: PUT YOUR THREADS